.filter-container a, .filter-container p {
    color: var(--C_MedBlue)
}

.filter-container {
    display: flex;
    align-items: center;
    height: 24px;
    justify-content: space-evenly;
    width: 35%;
    background-color: green;
    margin: 0 40px;
}

.static-filter-container {
    background-color: blue;
}

.api-filter-container {
    display: flex;
    justify-content: space-evenly;
    background-color: purple;
    width: 85%;
}