h1 {
    font-size: 35px;
    font-weight: 700;
    color: var(--C_DarkBlue);
    margin-left: 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--C_DarkBlue);
    border-bottom: 1px black solid;
    height: 100px
}

.cart-icon {
 font-size: 3em;
}

.cart-container {
    display: flex;
    margin-right: 40px;
}

.cart-count-container {
    position: absolute;
    right: 47px;
    color: var(--C_White);
    background-color: var(--C_Red);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

