.header-container h1 {
    font-size: 38px;
    font-weight: 700;
    color: var(--C_DarkBlue);
    margin-left: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--C_DarkBlue);
    background-color: var(--C_BG);
    height: 158px;
}

.cart-icon {
 font-size: 3.5em;
}

.cart-link:visited {
    text-decoration: none;
    color: var(--C_DarkBlue)
}

.cart-container {
    display: flex;
    margin-right: 50px;
    position: relative;
}

.cart-count-container {
    position: absolute;
    right: 9px;
    color: var(--C_White);
    background-color: var(--C_Red);
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}



