.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--C_DarkBlue);
}

.footer-left {
    margin-left: 50px;
}

.footer-right {
    margin-right: 50px;
}

.footer-container a, .footer-container p {
    text-decoration: none;
    color: var(--C_FooterWht);
    font-size: 18px;
    font-weight: 300;
  }



  @media (max-width: 754px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer-left {
        margin-left: 0;
        margin-bottom: 10px;
    }
    
    .footer-right {
        margin-right: 0;
    }

  }