.details-container {
    display: flex;
    min-height: calc(100vh - 358px);
    margin: 0 20% 100px 20%;
    background-color: var(--C_White);
}

.product-image-area {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.product-det-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 25px;
    text-align: left;
}

.product-image-area img {
    max-height: 450px;
    max-width: 100%;
    object-fit: cover;    
}

.product-det-area h2 {
    font-size: 20px;
    font-weight: 600;
}

.product-det-title {
    font-size: 24px;
    font-weight: 700; 
}

.product-det-price {
    font-size: 24px;
    font-weight: 600;
}

.product-det-description {
    font-size: 16px;
    font-weight: 400;
}

.product-det-add-btn {
    background-color: var(--C_Yellow);
    border-style: none;
    width: 158px;
    height: 43px;
}

.product-det-remove-btn {
    background-color: var(--C_Black);
    color: var(--C_Yellow);
    border-style: none;
    width: 158px;
    height: 43px;
}





@media (max-width: 900px) {

    .details-container {
        flex-direction: column;
        align-items: center;
        margin: 0 5% 100px 5%;
   }

    .product-det-area {
        width: 75%;
        height: 500px;        
    }
    
    .product-image-area img {
        max-width: 95%;
    }

    .product-det-area button {
       margin-left: auto;
       margin-right: auto;
    }
  
  }