.homepage-container { 
    background-color: var(--C_BG);
    padding: 0px 100px;
    min-height: calc(100vh - 258px);
}

.filter-container button {
    color: var(--C_MedBlue);
    font-size: 28px;
    border-style: none;
    cursor: pointer;
    margin-right: 25px;
}

.filter-container {
    display: flex;
    align-items: center;
    height: 100%;
    /* width: 65%; */
    /* margin: 0 50px; */
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    /* margin: 0 50px; */
    column-gap: 6%;
    row-gap: 35px;
    padding: 25px 0;
}

.homepage-container a {
    font-size: 30px;
}

@media (max-width: 1600px) {
    .product-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 1034px) {
    .product-grid-container {
        grid-template-columns: repeat(2, 1fr)
    }

    .filter-container {
        width: 95%;
    }
  }

  @media (max-width: 754px) {
    .product-grid-container {
        grid-template-columns: 1fr
    }
    
    .filter-container {
        width: 70%;
        justify-content: center;
        margin-left: 20%;
    }


    .filter-container button {
       margin-bottom: 15px;
    }

  }
